*{
    margin: 0px;
    padding: 0px;
}
body{
    background: lightskyblue;
}
header, .main, footer{
    width: 90%;
    margin:20px auto;
    max-width: 1000px;
}
header nav{
    background:lightyellow;
    overflow: hidden;
}
header nav ul{
    list-style: none;
}
header nav ul li{
    float: left;
}
header nav ul li a{
    padding: 10px 20px;
    display: block;
    color: black;
    text-decoration: none;
}
header nav ul li a:hover {
    background: yellow;
}
.main .articles{
    width: 68.5%;
    margin-right: 1.5%;
    float: left;
    background: lightskyblue;
}
.main .articles article{
    padding: 20px;
    background: lightcoral;
    margin-bottom: 20px;
}
aside {
width: 30%;
background: lightcyan;
float: left;
padding: 20px;
box-sizing: border-box;
}
footer{
    color: black;
    background: lightyellow;
    clear: both;
    padding: 10px 0px;
    text-align: center;
}